
*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: darkcyan;
}
.navbar {
    display:flex;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 20px;
    cursor: pointer;
}

.background {
    background-color:chocolate ;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.nav-list li {
    list-style: none;
}

.nav-list li a {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-align: center;
    padding: 14px 60px;
    gap: 20px;
    align-items: center;
    text-decoration:solid ;
}

.nav-list li a:hover {
    color: rgb(139, 23, 23);
}
.firstsection {
    background-color:cadetblue;
    height: 100px;
}

.secondsection {
    background-color: cadetblue;
    height: 100px;
}
.thirdsection {
    background-color: cadetblue;
    height: 100px;
}
.roundborder {
    border: 1px solid rgb(110, 121, 94);
    border-radius: 5px;
  }
  .menuborder{
    border:2px solid;
  }
.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}
.firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 100%;
}
.text-big {
    font-family: 'Arial', serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.text-small {
    font-size: 18px;
    text-align: left;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font:menu;
    font-size: 16px;
}
#portfolio {
    background-color: #0fbfbf; 
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    line-height: 200px;
    text-wrap:initial;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width:95%;
    background-color:rgb(1, 175, 175);
    margin:30px;
}
#container div{
    height: 170px;
    width:235px;
    background-color: rgb(110, 121, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font:menu;
    font-size: 16px;
    margin:60px;
}
